.dashboard {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
